
p {
    font-family: Arial;
    margin-top:0;
    margin-bottom: 0;
}

  .Title {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    width: 280px;
    line-height: 24px;
    margin-top: 5px;
  }



  .views-date {
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-bottom: 20px;
  }



  .YTmark {
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-bottom: 20px;
  }



    .Ptext {
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-bottom: 100px;
    width: 280;
    }

    .shoptext {
    font-size: 15px;
    color: white;
    background-color: rgb(227, 65, 54);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center; 
    }

    .shopnow:hover {
        text-decoration: underline;
    }

    .shopnow {
        cursor: pointer;
    }